
* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.grid-container {
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
}

.flexcontainer1 {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

}

.one {
    width: 45%;
    font-family: sans-serif;
}
/*Hur stor loggan ska vara*/
.logo {
    width: 100px;
    height: auto;
}

.Studera-mera {
    /*Hur stor det ska vara runt class=Studera-mera*/
    margin: 200px 100px auto 130px;
}

h1 {
    /*När vi använder clamp så sätter vi minsta värdet som är tillåtet,det föredragna värdet och 
    det största värdet som är tillåtet*/
    font-size: clamp(40px, 5vw, 76px);
    white-space: nowrap;
}

#p1 {
    font-size: 24px;
    opacity: 0.6;
}

.two {
    width: 55%;
    background-color: #2F80ED;
    color: white;
    border-radius: 0 0 0 262px;
}

.two-content {
    font-family: sans-serif;
    padding: 150px 200px 120px;
}

.Kurser2 {
    font-size: 48px;
    letter-spacing: -0.04em;
}

ul {
    font-size: 30px;
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 15px;
}

.three {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    margin: 190px 0;
    width: 100%;
}

.bilder {
    aspect-ratio: 1/1;
    width: 20%;
    object-fit: cover;
    /*Hur mycket bilden ska synas.*/
    opacity: 80%;
    border-radius: 55px;
}

.four {
    width: 100%;
    margin-bottom: 142px;
}

.Kurser {
    white-space: normal;
    /*Att meningarna får brytas*/
    word-wrap: break-word;
    font-family: sans-serif;
    width: 100%;
    max-width: 900px;
    background-color: #E0ECFD;
    border-radius: 0 55px 55px 0;
    padding: 30px 30px 50px;
    word-wrap: break-word;
    white-space: normal;
    overflow-wrap: break-word;
    box-sizing: border-box;
}

#one {
    color: #2F80ED;
}

.five {
    width: 100%;
    background-color: #2F80ED;
    color: white;
    padding: 45px 84px;
}

.footer-text:not(:last-of-type) {
    margin-bottom: 13px;
}

.footer-text {
    font-family: sans-serif;
    font-size: 24px;
    font-weight: 400;
}
/*För desktop*/
@media screen and (min-width:1024px) and (max-width:1599px) {
    h1 {
        font-size: 56px;
    }
}
/*För tablet*/
@media screen and (max-width: 1024px) and (min-width: 601px) {
    h1 {
        white-space: nowrap;
        font-size: clamp(30px, 5vw, 76px);
    }

    .Studera-mera {
        margin-left: 50px;
        text-align: left;
    }

    .two {
        margin-top: 0;
    }

    .two-content {
        padding-left: 40px;
        text-align: left;
    }

    .Kurser2 {
        font-size: clamp(30px, 5vw, 76px);
        letter-spacing: -0.04em;
        white-space: nowrap;
        text-align: left;
        margin-left: 0;
    }

    .three {
        flex-wrap: wrap;
        margin-bottom: 20px;

    }

    .bilder {
        aspect-ratio: 2/1;
        width: 40%;
        margin-bottom: 40px;
    }

    .four {
        width: 100%;
        margin-bottom: 142px;
    }

    .Kurser {
        font-family: sans-serif;
        width: 68%;
        background-color: #E0ECFD;
        border-radius: 0 55px 55px 0;
        padding: 30px 130px 50px;
        padding-left: 50px;
        text-align: left;
    }

    #one {
        color: #EC5EC1;
    }
}
/*För mobil*/
@media screen and (max-width: 600px) {
    .flexcontainer1 {
        display: block;
        padding-bottom: 20px;
    }

    .one {
        width: 100%;
    }

    .two {
        display: none;
    }

    .three {
        display: block;
    }

    .Kurser {
        width: 100%;
    }

    .bilder {
        width: 100%;
        border-radius: 0;
        margin-bottom: 20px;
        opacity: 1;
    }

    .flexcontainer2 {
        display: flex;
        flex-direction: column-reverse;
    }
    .flexcontainer2 >* {
        margin: 20px 0px;
    }

    .footer {
        font-family: sans-serif;
    }

}

